# ============================================
# Simulador Web ESP32 (Kira)
# ============================================

# URL del Servidor 1 (Endpoint de captura facial)
SERVER_URL=http://127.0.0.1:8001/api/capture

# Clave secreta para comunicación M2M entre componentes de Kira
API_KEY=kira_default_secret_key

# Puerto del simulador
SIMULADOR_PORT=8080
