# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Variables de entorno (archivos con datos sensibles)
.env
!.env.example

# Fotos reales (no queremos subir fotos de prueba a GitHub)
server3-db/api-gestion/app/static/perfiles/*
!server3-db/api-gestion/app/static/perfiles/.gitkeep

#Capturas temporales (no queremos subir capturas de prueba a GitHub)
server1-face/capturas_temp/*
server1-face/caras_recortadas/*

#Mejoras
ANALISIS_MEJORAS_KIRA.md

# Docker
.data/

#Firmware
.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

#Agent skill
.agent
.agents
