# =============================================
# Server 2 - Análisis de Emociones (Kira)
# =============================================

# Clave de autenticación M2M (DEBE ser igual en todos los servicios)
API_KEY=tu_clave_secreta_aqui

# Dispositivo GPU
CUDA_DEVICE=cuda:0
