# ============================================
# Servidor 2 - Análisis de Emociones (Kira)
# ============================================

# Host y puerto en el que se levanta este servidor
SERVER2_HOST=0.0.0.0
SERVER2_PORT=8002

# URL del Servidor 3 (API de Gestión / Base de datos)
SERVER3_URL=http://<IP_SERVIDOR_3>:8003

# Dispositivo de procesamiento de IA (cuda:0 para GPU, cpu para procesador)
CUDA_DEVICE=cuda:0
