--extra-index-url https://download.pytorch.org/whl/cu121

fastapi
uvicorn
torch
torchvision
hsemotion
facenet-pytorch
httpx
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
Pillow>=10.3.0
opencv-python
numpy>=1.26.4